*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 25pt;
}

body{
    font-family: Nunito, System-ui;
    background-color:#93c7a1 ;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.grid-conteiner{
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    min-width: 300px;
    min-height: 300px;
    box-shadow: 0px 10px 1em .3em rgba(0,0,0,0.5);
    margin: 5% 5% 5% 5%;
    padding: 3%;
    align-items: center;
    
}

.image{
    border-radius: 50%;
    border: 10px solid #93c7a1;
    width: 70%;
    aspect-ratio: 1;
    overflow: hidden;
}

.description-card{
    color: white;
    background-color: #2e2e2e;
    font-weight: 200;
}

.description-card>p{
    font-size: 1em;
}

button{
    color: white;
    border: none;
    outline: none;
    background-color: #2e2e2e;
    padding: 20px 40px 20px 40px;
    border-radius: 100vw;
    margin: 10px 0px 0px 0px;
}

button:hover{
    background-color: black;
}


@media only screen and (max-width: 800px){
    
    *{
        font-size: 15pt;
    }
    
    .card{
        max-width: 70vw;
        margin: 15% 0% 5% 0%;
    }

    

    .description-card{
        opacity: 0;
        animation: appear 2s ease-out .5s, opacity 1s linear 2s forwards;
    }

    @keyframes appear {
        from{
            transform: translateY(100vh);
        }
        to{
            transform: translate(0);
        }
    }

    @keyframes btn_proyectos_in{
        from{
            transform:translateX(100%);
        }
        to{
            transform:translate(0);
        }
    }

    @keyframes opacity{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }



    .btn-proyectos{
        min-width: 300px;
        opacity: 0;
        background-color: rgb(232, 81, 126);
        margin: 5% 5% 10% 5%;
        animation: btn_proyectos_in .6s cubic-bezier(1,1.42,.22,.96) 3s, opacity .5s linear 3s forwards;
    }

    
}