*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

body{
    font-family: Nunito, System-ui;
    background-color:#93c7a1 ;
}

.content{
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    margin: 10%;
} 

.section{
    margin: 0% 0% 5% 0%;
}



h1{
    font-size: 2em;
}

p{
    font-size: 1.5em;
}

img {
    width:100%;
}

.slider-container {
    display: flex;    
    margin-top: 5%;
    width: 80%;
    scrollbar-width: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

  
.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: contain;
    scroll-snap-align: center;
}

@media only screen and (max-width:800px){

    .content{
        margin: 0;
    }

    .description{
        padding: 5%;
    }    

    .slider-container{
        width: 100vw;
    }

}